$color_text_1: rgba(0, 0, 0, 0.75);
$heading_color: rgba(0, 0, 0, 0.85);
$info_color: #1890ff;
$color_background: #ebeef3;
$text-color-secondary: rgba(0, 0, 0, 0.5);
$success-color: #52c41a;
$error-color: #f5222d;

$wrapper_width: 940px;
