.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 16px 22px;
  height: 80px;

  &__right {
    display: flex;
    gap: 26px;
    align-items: center;
  }
}

.main {
  padding: 34px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: calc(100vh - 80px);
}

.logo {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
}
